.header-bg {
  min-height: 65px;
  background-color: #3c2b99;
  position: relative;
}
.header-bg .header__logo {
  text-align: center;
  padding-top: 15px;
}
.header-bg .nav-menu ul {
  display: inline-flex;
}
.header-bg .nav-menu ul li {
  border-left: 1px solid #513eb9;
  border-right: 1px solid #2e207a;
  border-bottom: 5px solid #e3dcdc;
}
.header-bg .nav-menu ul li:first-child {
  border-left: none;
}
.header-bg .nav-menu ul li:last-child {
  border-left: none;
  border-right: none;
}
.header-bg .nav-menu ul li:nth-child(5) {
  border-right: none;
}
.header-bg .nav-menu ul a {
  padding: 0 15px;
  font: 14px/65px "OpenSans-Semibold";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.header-bg .nav-menu ul a .i-caret-down {
  padding-left: 5px;
}
.header-bg .nav-menu ul li:hover {
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}
.header-bg .nav-menu ul li:hover a {
  color: #3c2b99;
}
.header-bg .nav-menu ul .nav-menu__busket {
  background-color: #7ab131;
  position: relative;
  border-left: none;
  border-right: none;
}
.header-bg .nav-menu ul .nav-menu__busket:hover:after {
  border-bottom: 5px solid #e3dcdc;
}
.header-bg .nav-menu ul .nav-menu__busket:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  height: 5px;
  width: 100%;
  background: #568716;
  z-index: 1;
}
.header-bg:after {
  position: absolute;
  bottom: 0;
  content: '';
  height: 5px;
  width: 100%;
  background: #2e207a;
}
.content .content__top-bg {
  min-height: 735px;
  background: url("../img/board_bg.jpg") no-repeat;
  background-size: 100% 100%;
}
.content .lSSlideOuter .lSPager {
  display: none;
}
.content .lSSlideOuter .lSPager {
  position: relative;
  top: -40px;
  left: 42%;
  width: 100%;
}
.content .lSSlideOuter .lSSlideWrapper > .lSAction a {
  height: 60px;
  top: 45%;
  background-image: url(../img/main_controls.png);
}
.content .lSSlideOuter .lSSlideWrapper > .lSAction .lSPrev {
  background-position: 0 0;
}
.content .lSSlideOuter .lSSlideWrapper > .lSAction .lSNext {
  background-position: -50px 0;
}
.content .content__middle-bg {
  min-height: 1120px;
  background-color: #110f18;
}
.content .content__top .top__bread {
  margin: 60px 40px 30px;
  text-align: center;
  width: 480px;
  height: 35px;
  background-color: #e8e8e7;
  border-radius: 5px;
}
.content .content__top .top__bread a {
  font: 14px/35px "OpenSans-Light";
  color: #000;
  text-decoration: none;
}
.content .content__top .top__bread a:hover {
  text-decoration: underline;
}
.content .content__top .screens {
  text-align: center;
  margin-bottom: 95px;
}
.content .content__top .screens h1 {
  margin: 0;
  font: 66px/68px "OpenSans-Semibold";
  color: #fff;
}
.content .content__top .screens h2 {
  font: 66px/68px "OpenSans-Light";
  color: #fff;
}
.content .content__middle .middle__offers {
  padding: 0 28px;
  min-height: 580px;
  background-color: #fff;
}
.content .content__middle .middle__offers .offers__drivingDirect {
  padding: 50px 0 20px 0;
}
.content .content__middle .middle__offers .offers__drivingDirect ul {
  display: inline-flex;
}
.content .content__middle .middle__offers .offers__drivingDirect ul li {
  width: 295px;
  height: 55px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e4e3e7;
  border-radius: 30px;
  cursor: pointer;
}
.content .content__middle .middle__offers .offers__drivingDirect ul li a {
  display: inline-block;
  height: 55px;
  font: 16px/55px "OpenSans-Semibold";
  color: #5043a1;
  text-transform: uppercase;
  text-decoration: none;
}
.content .content__middle .middle__offers .offers__drivingDirect ul li:first-child {
  z-index: 1;
  background-color: #3c2b99;
}
.content .content__middle .middle__offers .offers__drivingDirect ul li:first-child a {
  color: #fff;
}
.content .content__middle .middle__offers .offers__drivingDirect ul .backward {
  position: relative;
  left: -40px;
}
.content .content__middle .middle__offers .info__status p {
  height: 35px;
  font: 16px/35px "OpenSans-Light";
}
.content .content__middle .middle__offers .info__status p span {
  display: inline-block;
  width: 140px;
  height: 35px;
  font: 14px/35px "OpenSans-Semibold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #e22f37;
  border-radius: 5px;
}
.content .content__middle .middle__offers .info__monthBussynes,
.content .content__middle .middle__offers .info__descripton {
  display: inline-flex;
  flex-wrap: wrap;
}
.content .content__middle .middle__offers .info__monthBussynes p,
.content .content__middle .middle__offers .info__descripton p {
  padding: 18px 28px;
  font: 16px/18px "OpenSans-Light";
  text-indent: -85px;
  margin-left: 60px;
}
.content .content__middle .middle__offers .info__monthBussynes p span,
.content .content__middle .middle__offers .info__descripton p span {
  font-family: "OpenSans-Semibold";
}
.content .content__middle .middle__offers .info__descripton {
  padding-top: 50px;
}
.content .content__middle .middle__offers .info__descripton p {
  width: 100%;
}
.content .content__middle .middle__offers .description__print button {
  width: 180px;
  height: 52px;
  margin: 35px 0;
  font: 16px/18px "OpenSans-Semibold";
  color: #fff;
  text-transform: uppercase;
  background-color: #3c2b99;
  border: none;
  border-radius: 5px;
  outline: none;
}
.content .content__middle .offers__date {
  display: inline-flex;
}
.content .content__middle .offers__date .date__year {
  padding: 16px 14px 16px 0;
}
.content .content__middle .offers__date .date__year select {
  width: 100px;
  height: 45px;
  font: 16px/18px "OpenSans-Semibold";
  color: #3c2b99;
  text-align-last: center;
  text-align: center;
  border-color: #e4e3e7;
  border-radius: 5px;
  outline: none;
}
.content .content__middle .offers__date .date__year select option {
  text-align: center;
}
.content .content__middle .offers__date .date__mounth ul {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px 14px;
}
.content .content__middle .offers__date .date__mounth ul li {
  background-color: #7ab131;
}
.content .content__middle .offers__date .date__mounth ul li a {
  display: inline-block;
  height: 45px;
  padding: 0 16px;
  font: 12px/45px "OpenSans";
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.content .content__middle .offers__date .date__mounth ul li a:hover {
  background-color: #568716;
}
.content .content__middle .offers__date .date__mounth ul li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content .content__middle .offers__date .date__mounth ul li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content .content__middle .offers__date .date__mounth ul .mounth__feb,
.content .content__middle .offers__date .date__mounth ul .mounth__apr,
.content .content__middle .offers__date .date__mounth ul .mounth__may {
  background-color: #e22f37;
}
.content .content__middle .offers__totalPrice p {
  padding: 40px 0 30px;
  font: 32px/34px "OpenSans";
  color: #3c2b99;
}
.content .content__middle .offers__checkout {
  width: 100%;
  height: 70px;
  font: 16px/18px "OpenSans-Semibold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  background-color: #7ab131;
  border: none;
  border-bottom: 5px solid #568716;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content .content__middle .offers__checkout:hover {
  background-color: #568716;
}
.content .middle__map {
  padding-top: 20px;
}
.content .middle__map .map__watch {
  width: 100%;
  height: 50px;
  font: 16px/18px "OpenSans-Semibold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  background-color: #3c2b99;
  border: none;
  border-bottom: 5px solid #2e207a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -5px;
}
.content .middle__map .map__watch:hover {
  background-color: #2e207a;
}
.content .middle__info p {
  padding: 50px 0 90px;
  font: 24px/36px "OpenSans-Light";
  color: #fff;
}
.content .middle__form {
  background: url(../img/bottom_bg.jpg) no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.content .middle__form .form__head {
  text-align: center;
}
.content .middle__form .form__head p {
  font: 48px/50px "OpenSans-Light";
  color: #fff;
}
.content .middle__form .form__head p span {
  font: 48px/50px "OpenSans-Semibold";
}
.content .middle__form .form__head span {
  display: inline-block;
  margin: 40px 0 30px;
  font: 24px/36px "OpenSans-Light";
  color: #fff;
}
.content .middle__form .form input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 1px solid #44414f;
  border-radius: 5px;
  outline: none;
}
.content .middle__form .form input[placeholder] {
  padding-left: 25px;
  font: 16px/45px "OpenSans";
  color: #fff;
}
.content .middle__form .form textarea {
  width: 100%;
  height: 90px;
  margin-top: 20px;
  resize: none;
  background: transparent;
  border-color: #44414f;
  border-radius: 5px;
  outline: none;
}
.content .middle__form .form textarea[placeholder] {
  padding-left: 25px;
  font: 16px/45px "OpenSans";
  color: #fff;
}
.content .middle__form .form__btn {
  padding-top: 20px;
  text-align: center;
}
.content .middle__form .form__btn button {
  width: 350px;
  height: 70px;
  font: 16px/18px "OpenSans-Semibold";
  color: #fff;
  text-transform: uppercase;
  background: url(../img/form_btn_bg.png) no-repeat;
  background-size: cover;
  border: none;
  border-bottom: 5px solid #2e207a;
  border-radius: 5px;
  outline: none;
}
.content .middle__form .form__btn button:hover {
  background-color: #2e207a;
}
.content .middle__form .footer {
  margin-top: 80px;
}
.content .middle__form .footer h5 {
  padding-bottom: 30px;
}
.content .middle__form .footer h5 a {
  font: 16px/18px "OpenSans-Semibold";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.content .middle__form .footer h5 a:hover {
  text-decoration: underline;
}
.content .middle__form .footer ul a {
  font: 14px/36px "OpenSans";
  color: #fff;
  text-decoration: none;
}
.content .middle__form .footer ul a:hover {
  text-decoration: underline;
}
.content .middle__form .footer .footer__thirdList {
  padding-top: 50px;
}
.content .middle__form .footer .footer__contacts {
  text-align: right;
}
.content .middle__form .footer .footer__contacts .tel {
  display: block;
  font: 32px/34px "OpenSans";
  color: #fff;
  padding-bottom: 20px;
  text-decoration: none;
}
.content .middle__form .footer .footer__contacts .tel:hover {
  text-decoration: underline;
}
.content .middle__form .footer .footer__contacts p {
  font: 14px/36px "OpenSans";
  color: #fff;
}
.content .middle__form .footer .footer__contacts p a {
  color: #fff;
  text-decoration: underline;
}
.content .middle__form .footer .footer__bottom {
  padding: 95px 0 55px;
}
.content .middle__form .footer .footer__bottom .bottom__copy p {
  font: 14px/16px "OpenSans";
  color: #fff;
}
.content .middle__form .footer .footer__bottom .bottom__autor {
  text-align: right;
}
.content .middle__form .footer .footer__bottom .bottom__autor p {
  font: 14px/16px "OpenSans";
  color: #fff;
}
.content .middle__form .footer .footer__bottom .bottom__autor p a {
  color: #fff;
  text-decoration: underline;
}
