.header-bg{
  min-height: 65px;
  background-color: #3c2b99;
  position: relative;
  .header__logo{
    text-align: center;
    padding-top: 15px;
  }
  .nav-menu{
    ul {
      display: inline-flex;
      li{
        border-left: 1px solid #513eb9;
        border-right: 1px solid #2e207a;
        border-bottom: 5px solid #e3dcdc;
      }
      li:first-child{
        border-left: none;
      }
      li:last-child{
        border-left: none;
        border-right: none;
      }
      li:nth-child(5){
        border-right: none;
      }
      a{
        padding: 0 15px;
        font: 14px/65px "OpenSans-Semibold";
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        .i-caret-down{
          padding-left: 5px;
        }
      }
      li:hover{
        background-color: #fff;
        cursor: pointer;
        z-index: 1;
        a{
          color: #3c2b99;
        }
      }
      .nav-menu__busket{
        background-color: #7ab131;
        position: relative;
        border-left: none;
        border-right: none;
      }
      .nav-menu__busket:hover:after{
        border-bottom: 5px solid #e3dcdc;
      }
      .nav-menu__busket:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        content: '';
        height: 5px;
        width: 100%;
        background: #568716;
        z-index: 1;
      }
    }
  }
}
.header-bg:after {
  position: absolute;
  bottom: 0;
  content: '';
  height: 5px;
  width: 100%;
  background: #2e207a;
}
.content{
  .content__top-bg{
    min-height: 735px;
    background: url("../img/board_bg.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .lSSlideOuter {
    .lSPager{
      display: none;
    }
    .lSPager{
      position: relative;
      top: -40px;
      left: 42%;
      width: 100%;
    }
    .lSSlideWrapper > .lSAction a {
      height: 60px;
      top: 45%;
      background-image: url(../img/main_controls.png);
    }
    .lSSlideWrapper > .lSAction{
      .lSPrev {
        background-position: 0 0;
      }
      .lSNext{
        background-position: -50px 0;
      }
    }
  }
  .content__middle-bg{
    min-height: 1120px;
    background-color: #110f18;
  }
  .content__top {
    .top__bread{
      margin: 60px 40px 30px;
      text-align: center;
      width: 480px;
      height: 35px;
      background-color: #e8e8e7;
      border-radius: 5px;
      a{
        font: 14px/35px "OpenSans-Light";
        color: #000;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .screens{
      text-align: center;
      margin-bottom: 95px;
      h1{
        margin: 0;
        font: 66px/68px "OpenSans-Semibold";
        color: #fff;
      }
      h2{
        font: 66px/68px "OpenSans-Light";
        color: #fff;
      }
    }
  }
  .content__middle{
    .middle__offers {
      padding: 0 28px;
      min-height: 580px;
      background-color: #fff;
      .offers__drivingDirect {
        padding: 50px 0 20px 0;
        ul {
          display: inline-flex;
          li {
            width: 295px;
            height: 55px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #e4e3e7;
            border-radius: 30px;
            cursor: pointer;
            a {
              display: inline-block;
              height: 55px;
              font: 16px/55px "OpenSans-Semibold";
              color: #5043a1;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
          li:first-child{
            z-index: 1;
            background-color: #3c2b99;
            a{
              color: #fff;
            }
          }
          .backward {
            position: relative;
            left: -40px;
          }
        }
      }
      .info__status {
        p {
          height: 35px;
          font: 16px/35px "OpenSans-Light";
          span {
            display: inline-block;
            width: 140px;
            height: 35px;
            font: 14px/35px "OpenSans-Semibold";
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            background-color: #e22f37;
            border-radius: 5px;
          }
        }
      }
      .info__monthBussynes,
      .info__descripton {
        display: inline-flex;
        flex-wrap: wrap;
        p {
          padding: 18px 28px;
          font: 16px/18px "OpenSans-Light";
          text-indent: -85px;
          margin-left: 60px;
          span {
            font-family: "OpenSans-Semibold";
          }
        }
      }
      .info__descripton {
        padding-top: 50px;
        p{
          width: 100%;
        }
      }
      .description__print button {
        width: 180px;
        height: 52px;
        margin: 35px 0;
        font: 16px/18px "OpenSans-Semibold";
        color: #fff;
        text-transform: uppercase;
        background-color: #3c2b99;
        border: none;
        border-radius: 5px;
        outline: none;
      }
    }
    .offers__date{
      display: inline-flex;
      .date__year{
        padding: 16px 14px 16px 0;
        select {
          width: 100px;
          height: 45px;
          font: 16px/18px "OpenSans-Semibold";
          color: #3c2b99;
          text-align-last: center;
          text-align: center;
          border-color: #e4e3e7;
          border-radius: 5px;
          outline: none;
          option{
            text-align: center;
          }
        }
      }
      .date__mounth ul{
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 16px 14px;
        li{
          background-color: #7ab131;
          a{
            display: inline-block;
            height: 45px;
            padding: 0 16px;
            font: 12px/45px "OpenSans";
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
          }
          a:hover{
            background-color: #568716;
          }
        }
        li:first-child{
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        li:last-child{
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        .mounth__feb,
        .mounth__apr,
        .mounth__may{
          background-color: #e22f37;
        }
      }
    }
    .offers__totalPrice p{
      padding: 40px 0 30px;
      font: 32px/34px "OpenSans";
      color: #3c2b99;
    }
    .offers__checkout{
      width: 100%;
      height: 70px;
      font: 16px/18px "OpenSans-Semibold";
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      background-color: #7ab131;
      border: none;
      border-bottom: 5px solid #568716;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .offers__checkout:hover{
      background-color: #568716;
    }
  }
  .middle__map{
    padding-top: 20px;
    .map__watch{
      width: 100%;
      height: 50px;
      font: 16px/18px "OpenSans-Semibold";
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      background-color: #3c2b99;
      border: none;
      border-bottom: 5px solid #2e207a;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      position: relative;
      top: -5px;
    }
    .map__watch:hover{
      background-color: #2e207a;
    }
  }
  .middle__info{
    p {
      padding: 50px 0 90px;
      font: 24px/36px "OpenSans-Light";
      color: #fff;
    }
  }
  .middle__form{
    background: url(../img/bottom_bg.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    .form__head{
      text-align: center;
      p{
        font: 48px/50px "OpenSans-Light";
        color: #fff;
        span{
          font: 48px/50px "OpenSans-Semibold";
        }
      }
      span{
        display: inline-block;
        margin: 40px 0 30px;
        font: 24px/36px "OpenSans-Light";
        color: #fff;
      }
    }
    .form input{
      width: 100%;
      height: 45px;
      background: transparent;
      border: 1px solid #44414f;
      border-radius: 5px;
      outline: none;
    }
    .form input[placeholder]{
      padding-left: 25px;
      font: 16px/45px "OpenSans";
      color: #fff;
    }
    .form textarea{
      width: 100%;
      height: 90px;
      margin-top: 20px;
      resize: none;
      background: transparent;
      border-color: #44414f;
      border-radius: 5px;
      outline: none;
    }
    .form textarea[placeholder]{
      padding-left: 25px;
      font: 16px/45px "OpenSans";
      color: #fff;
    }
    .form__btn{
      padding-top: 20px;
      text-align: center;
      button{
        width: 350px;
        height: 70px;
        font: 16px/18px "OpenSans-Semibold";
        color: #fff;
        text-transform: uppercase;
        background: url(../img/form_btn_bg.png) no-repeat;
        background-size: cover;
        border: none;
        border-bottom: 5px solid #2e207a;
        border-radius: 5px;
        outline: none;
      }
      button:hover{
        background-color: #2e207a;
      }
    }
    .footer {
      margin-top: 80px;
      h5{
        padding-bottom: 30px;
        a {
          font: 16px/18px "OpenSans-Semibold";
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      ul{
        a{
          font: 14px/36px "OpenSans";
          color: #fff;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      .footer__thirdList{
        padding-top: 50px;
      }
      .footer__contacts{
        text-align: right;
        .tel{
          display: block;
          font: 32px/34px "OpenSans";
          color: #fff;
          padding-bottom: 20px;
          text-decoration: none;
        }
        .tel:hover{
          text-decoration: underline;
        }
        p{
          font: 14px/36px "OpenSans";
          color: #fff;
          a{
            color: #fff;
            text-decoration: underline;
          }
        }
      }
      .footer__bottom{
        padding: 95px 0 55px;
        .bottom__copy p{
          font: 14px/16px "OpenSans";
          color: #fff;
        }
        .bottom__autor{
          text-align: right;
          p{
            font: 14px/16px "OpenSans";
            color: #fff;
            a{
              color: #fff;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
